#content
  #movie.widget
    .top
    .middle
      .movie
        .poster
          -if @person.picture
            = image_tag @person.picture.url(:banner)
      .detail
        .spec
          %h3= "Perfil de #{@person.short_name}"
          %p.short
            %strong Primer Nombre:
            = h @person.try(:first_name)
          %p.short
            %strong Segundo nombre:
            = h @person.try(:middle_name)
          %p.short
            %strong Apellidos:
            = h @person.try(:last_name)
          %p.short
            %strong Fecha de nacimiento:
            = h @person.try(:born_at).try(:strftime,"%d-%b-%Y")
          %p.short
            %strong Lugar de nacimiento:
            = h @person.try(:born_in)
      .clear
    .bottom
  - if @person.bio
    #bio.widget
      .top
      .middle
        %h3= "Biografía"
        %p
          = h simple_format @person.bio
      .bottom
  - if not @person.awards.empty?
    #awards.widget
      .top
      .middle
        %h3 Premios
        %table.data
          %tr
            %th Institución
            %th Película
            %th Año
            %th Categoría
            %th Estado
          - @person.awards.each do |award|
            %tr{:class => cycle("odd", "even")}
              %td= award.institution.name
              %td= award.movie.title
              %td= award.year_received
              %td= award.category.name
              %td= award.status
        %p.short
          = h link_to 'Lista de premios', awards_path
      .bottom
#sidebar
  - if not @person.movie_characters.empty?
    #cast.widget
      .top
      .middle
        %h3 Actúa en
        %table.data
          %tr{:class => cycle("even", "odd")}
            %th Película
            %th Año
            %th Personaje
          - @person.movie_characters.each do |cast_member|
            %tr{:class => cycle("even", "odd")}
              %td= link_to cast_member.try(:movie).try(:title), cast_member.movie
              %td= cast_member.movie.try(:released_at).try(:strftime,"%Y")
              %td= cast_member.character_name
      .bottom
  - unless @person.movie_directors.empty? and @person.movie_writers.empty?
    #crew.widget
      .top
      .middle
        %h3 Colabora en
        %table.data
          %tr{:class => cycle("even", "odd")}
            %th Película
            %th Año
            %th Colaboración
          -unless @person.movie_directors.empty?
            - @person.movie_directors.each do |crew_member|
              %tr{:class => cycle("even", "odd")}
                %td= link_to crew_member.try(:movie).try(:title), crew_member.movie
                %td= crew_member.movie.try(:released_at).try(:strftime,"%Y")
                %td= 'Director'
          -unless @person.movie_writers.empty?
            - @person.movie_writers.each do |crew_member|
              %tr{:class => cycle("even", "odd")}
                %td= link_to crew_member.try(:movie).try(:title), crew_member.movie
                %td= crew_member.movie.try(:released_at).try(:strftime,"%Y")
                %td= 'Guionista'
      .bottom
.clear

