#content
	- @movies.each do |movie|
		#movie.widget
			.top
			.middle
				.movie
					.poster
						= image_tag movie.banner.url(:banner)
				.detail
					%h3= link_to movie.name_with_year, movie
					.spec
						- if movie.studio
							%p.short
								%strong Estudio:
								%span= link_to movie.studio.name, movie.studio
						- if movie.original_title
							%p.short
								%strong Título original:
								%span= movie.original_title
						%p.short
							%strong Acerca de:
							%span.movie_summary= strip_tags movie.summary
					#rating
						.rotten
						.content
							.porcentaje= render_score movie.final_score
							.stars
								.fill{:style=>"width:#{number_to_percentage(movie.final_score, :precision => 0)}"}
							.coments
								Comentarios: 
								= movie.comments.size
						.bar
							.fill{:style=>"width:#{number_to_percentage(movie.final_score, :precision => 0)}"}
						.camote							 
				.clear
			.bottom
	.clear

#sidebar
	- if @from_tag
		#about_tag.widget
			.top
			.middle
				%h3= "Películas etiquetadas con #{@from_tag}"
				%p.short
					= "Total de películas con esta etiqueta: #{@movies.count}"
			.bottom
	- unless @movies_on_theatres.empty?
		.widget
			.top
			.middle
				%h3
					= "Cartelera"
					- if @from_tag
						= " sobre #{@from_tag}"
				%ul.cartelera
					- @movies_on_theatres.each do |movie|
						%li
							- link_to movie, :class => "movie", :title => movie.title do
								= image_tag movie.banner.url(:scheduled)
							.desc
								= link_to movie.title, movie, :class => "title", :title => movie.title
								%p.tags
									- movie.genres.each do |genre|
										= link_to genre.name, genre, :title => genre.name, :class => "title"
								= link_to "Opiniones (#{movie.posts.size})", movie_posts_path(movie)
							%p.rating= render_score movie.final_score
							.clear
			.bottom
.clear
