.movie
  - if activity.item.banner_file_name
    .movie_poster
      - link_to movie_path(activity.item), :class => "movie tipsy", :title => "Ir a #{activity.item.title}" do
        = image_tag activity.item.banner.url(:scheduled), :size => "40x60"   
  .content
    .general
      - if activity.action == "create"
        Se agreg칩
        = link_to activity.item.title, activity.item
      - else
        Se actualiz칩
        = link_to activity.item.title, activity.item
      en nuestro cat치logo 
    .info
      = truncate activity.item.content, :length => 150
      = link_to "Ver m치s", activity.item
    .date
      hace
      = distance_of_time_in_words_to_now activity.created_at
