.post
  - if post.movie
    .movie_poster
      - link_to movie_path(post.movie), :class => "movie tipsy", :title => "Ir a #{post.movie.title}" do
        = image_tag post.movie.banner.url(:scheduled) 
  .movie_post{:class => ("large" if not post.movie_id)}
    %h4= link_to post.title_with_score, post
    .detail
      %p.about_post
        En
        = link_to post.blog.name, post.blog
        por
        = link_to(post.user.full_name, post.user)
        = ", el #{post.try(:published_at).try(:to_date).try(:strftime,'%d-%b-%Y')}"
      %p
        - size = post.movie_id? ? 300 : 400        
        = truncate(post.content, :length => size)
        %b= link_to 'leer más', post
      %br
