#content
  #categories.widget
    .top
    .middle
      %h3 Categorías
      %table.data
        %tr
          %th Categoría
          %th Tipo
        - @categories.each do |category|
          %tr
            %td= h category.name
            %td= h category.category_type
            %td= link_to 'Editar', edit_admin_category_path(category), :class => "edit"
            %td= link_to 'Eliminar', [:admin, category], :confirm => '¿Estás seguro?', :method => :delete, :class => "delete"
    .bottom
  .clear
#sidebar
  #actions.widget
    .top
    .middle
      %h3 Acciones
      %p= link_to 'Nueva categoría', new_admin_category_path
    .bottom
  .clear

